.CategoryList {
  display: flex;
  flex-wrap: wrap;
}

.ProductList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

button {
  height: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 246, 234);
}

.selected {
  background-color: #418045;
}

.Badge {
  display: inline;
  min-width: 50px;
  background-color: #150a75;
  color: white;
  border-radius: 0.5rem;
}
